<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.itemis.com/jbc/JBC"
			class = "com.itemis.jbc.jbc.JbcPackage"
			genModel = "model/generated/JBC.genmodel" />
	</extension>
null
</plugin>
